.signin-btn{
    background-color: darkturquoise;
    color:#fff;
}
ion-label{
    font-size:12px  !important;
    color:#6E7989;
}
ion-item{
    --background: transparent !important;
}

ion-content {
    // background-color:#FFD833 !important;
    background: linear-gradient(to bottom, darkturquoise
    0%, #d1f2e7
    100%) !important;
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
  }