

<ion-content class="bg-class">
<div class="container">
  <div class="row title">
    <div class="col-4 icon mt-2 ">
     <img src="assets/model.png" alt="">
        
    </div>
    <div class="col-8 ">
      <span class="welcome">Welcome to</span><br>
      <span class="seller"><b>24hrs Seller</b></span>
    </div>
  </div>

  <div class="signin-div mt-5 ">
    <div class="row "style="padding:15px;">
      <div class="col-6 signin">
        Sign in
      </div>
      <div class="col-6 signup">
        Sign up
      </div>
    </div>
    <p class="signin-seller"><b>Sign in to 24hrs Seller</b></p>
    <p class="emailTo-continue">Enter email & password to continue</p>

    <div class="form-group mb-4">
      <input id="email" type="email" placeholder="Email" class="form-control form-control-underlined">
    </div>
    <div class="form-group mb-4">
      <input id="password" type="email" placeholder="Password" class="form-control form-control-underlined">
    </div>

    <div class="row">
      <div class="col-6 forgot-pw">
        Forgot password?
      </div>
      <div class="col-4">
        <button class="btn btn-success btn-sm signin-btn mt-1">SIGNIN</button>
      </div>
    </div>

    <div>
      <p></p>
    </div>
  </div>
</div>
</ion-content>
