@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
.dot {
    margin:15px;
    margin-top: 0 !important;
    height: 80px;
    width: 70%;
    background-color: #FFC5A3
    ;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 5.5);
  }
  .count{
      padding: 25px;
      text-align: center;
      color: #FF6000;
      font-size: 25px;
      font-family: 'Quicksand', sans-serif !important;
  }
  .views{
      margin-top:  -10px !important;
      text-align: center;
      color: #5C5C5C;
  }
  .offer-btn{
    margin:15px;
    background-color: #FF6000
    ;
    border:1px solid #fff;
  }
  .myproducts-btn{
    margin:15px;
    background-color:#FF6000
    ;
    border:1px solid #fff;
    border-radius: 5px;
  }
  ion-list{
    background-color: #ebf9f9 !important;
  }
  ion-item{
    background-color: #ebf9f9 !important;
  }

  ion-content {
    background-color:#fff !important;
    // background: linear-gradient(to bottom, #fff
    // 0%, #d1f2e7
    // 100%) !important;

    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
  }


  