*{
  color:#5C5C5C;
}

.cost{
    width:55px;
    border-radius: 5px;
    margin:15px;
    text-align: center;
}
.addproduct-btn{
    border-radius: 5px !important;
    width: 50%;
    height:35px;
    background-color: #FF6000;
    border:1px solid #fff;
    margin:5px;
    color: #fff;
}
#upload{
    cursor: pointer;
}
input[type=text] {
    margin: 0 5px;
    margin-top: -12px;
    width: 90%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #FF6000
    ;
  }

#offer:focus {
    outline: none !important;
    border:1px solid #e9f3ff !important;
    box-shadow: 0 0 2px #8b8d91;
   
  }

  #kg-dropdwon {
    position: relative;
    display: flex;
    width: 90%;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
    margin-left: 2%;
  
  }
  .select {
    position: relative;
    display: flex;
    width: 97%;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
   
  
  }

  select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }
  

  

ion-content {
    background-color:#fff !important;
    // background: linear-gradient(to bottom, darkturquoise
    // 0%, #d1f2e7
    // 100%) !important;
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
  }