.cost{
    width:55px;
    border-radius: 5px;
    margin:15px;
    text-align: center;
}
.addproduct-btn{
    border-radius: 5px !important;
    width: 50%;
    height:35px;
    background-color: #50C7C8;
    border:1px solid #fff;
    margin:5px;
}
#upload{
    cursor: pointer;
}
input[type=text] {
    margin: 0 5px;
    margin-top: -12px;
    width: 90%;
    box-sizing: border-box;
    border: none;
    background-color: #ebf9f9;
    border-bottom: 2px solid #a6e4e9;
  }
#offer:focus {
    outline: none !important;
    border:1px solid #fff !important;
    box-shadow: 0 0 2px #e9f3ff;
  }

  #kg-dropdwon {
    position: relative;
    display: flex;
    width: 10em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
    margin-left: 0%;
  
  }
  #cat-dropdwon {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #5C5C5C;
    background-color: #e3f6fa;
    background-image: none;
    cursor: pointer;
    width: 20% !important;
    border-radius: 2px;
  }
  
ion-content {
    // background-color:#FFD833 !important;
    background: linear-gradient(to bottom, #8cdbe2
    0%, #d1f2e7
    100%) !important;
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
  }