<ion-menu   side="start" type="push" contentId="main">
  <ion-toolbar>
    <div class="row mt-5">
      <div class="col-4">
        <ion-menu-button style="display: table-row;" >
          <ion-icon class="close"  name="close"></ion-icon>
        </ion-menu-button>
      </div>
      <div class="col-8" style="margin-left: -50px;">
        <ion-menu-button style="display: table-row;" >
          <img class="mx-5" height="100px" width="100" style="text-align: center;" src="assets/logo.jpeg" alt="">
        </ion-menu-button>
        
      </div>
    </div>
  </ion-toolbar>

<ion-content >
  
  <ion-list class="mt-4"  >
    <div class="row ">
      <div class="col-5">
        <ion-menu-button style="display: table-row; margin-left: 25%;" >
          <ion-item>
            <img  height="50px" (click)="home()" width="50px" src="assets/icon/home.PNG" alt="">
          </ion-item>
        </ion-menu-button>
      </div>
      <div class="col-4" style="margin-left: -30px;">
        <ion-menu-button style="display: table-row;" >
          <p class="list" (click)="home()">Home</p> 
        </ion-menu-button>
        
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <ion-menu-button style="display: table-row;" >
          <ion-item>
            <img  height="50px" (click)="myproducts()" width="50px" src="assets/icon/myproducts.png" alt="">
          </ion-item>
        </ion-menu-button>
      </div>
      <div class="col-4" style="margin-left: -30px;">
        <ion-menu-button style="display: table-row;" >
          <p class="list"  (click)="myproducts()">My Products</p> 
        </ion-menu-button>
       
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <ion-menu-button style="display: table-row;" >
          <ion-item>
            <img  height="50px" (click)="promotion()" width="50px" src="assets/icon/promotion.png" alt="">
          </ion-item>
        </ion-menu-button>
      </div>
      <div class="col-4" style="margin-left: -30px;">
        <ion-menu-button style="display: table-row;" >
          <p class="list"  (click)="promotion()">Promotion</p>
        </ion-menu-button>
         
      </div>
    </div>
      
    <div class="row">
      <div class="col-5">
        <ion-menu-button style="display: table-row;" >
          <ion-item>
            <img  height="50px" (click)="Offers()" width="50px" src="assets/icon/offers.png" alt="">
          </ion-item>
        </ion-menu-button>
      </div>
      <div class="col-4" style="margin-left: -30px;">
        <ion-menu-button style="display: table-row;" >
          <p class="list" (click)="Offers()">Offers</p>
        </ion-menu-button>
        
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <ion-menu-button style="display: table-row;" >
          <ion-item>
            <img  height="50px" (click)="myprofile()" width="50px" src="assets/icon/myprofile.png" alt="">
          </ion-item>
        </ion-menu-button>
      </div>
      <div class="col-4" style="margin-left: -30px;">
        <ion-menu-button style="display: table-row;" >
          <p class="list"  (click)="myprofile()">My Profile</p> 
        </ion-menu-button>
       
      </div>
    </div>

      
    <div class="row">
      <div class="col-5">
        <ion-menu-button style="display: table-row;" >
          <ion-item>
            <img  height="50px" (click)="support()" width="50px" src="assets/icon/support.png" alt="">
          </ion-item>
        </ion-menu-button>
      </div>
      <div class="col-4" style="margin-left: -30px;">
        <ion-menu-button style="display: table-row;" >
          <p class="list"  (click)="support()">Support</p> 
        </ion-menu-button>
       
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <ion-menu-button style="display: table-row;" >
          <ion-item>
            <img (click)="logout()" height="50px" (click)="logout()" width="50px" src="assets/icon/logout.png" alt="">
            
          </ion-item>
        </ion-menu-button>
      </div>
      <div class="col-4" style="margin-left: -25px;">
        <ion-menu-button style="display: table-row;" >
          <p style="cursor: pointer;" (click)="logout()" class="list">Log out </p>
        </ion-menu-button>
       
      </div>
    </div>
    
  
    
  </ion-list>

  
</ion-content>
</ion-menu>

<ion-router-outlet [swipeGesture]="false" id="main"></ion-router-outlet>