.list{
    color: #272A3F;
    font-size: 15px;
    margin: 18px -5px;
}
#icon{
    background-color: rgb(197, 248, 147) !important;
    border-radius: 15px !important;
    width:25px;
    height:30px
}
ion-item{
    --border-color: #fff;
}
img:hover{
cursor: pointer;
}
ion-menu-button:hover{
    --color:#fff;
   
}
.close{
    margin-left: 30px;
    color:#676767;
}
.close:hover{
    color:red;
}
.row{
    margin-bottom: 8px;
}