<ion-content class="mt-5">
  <div class="myproduct-div mt-5 ">
    <p style="font-size:20px;margin-left:10px;margin-top:10px; color: #5C5C5C;"> Provide Your Details:</p>

    <div class="row" style="padding-left: 10px;">
      <div class="col-6">
        <p class="edit-name">Store logo:</p>
      </div>
      <div class="col-6">
        <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_GZxjzF.json" background="transparent"
          speed="1.5" style="width:50%;margin-left:5px;" loop autoplay></lottie-player>
      </div>
    </div>

    <div class="row mt-4" style="padding-left: 10px;">
      <div class="col-6">
        <p class="edit-name">Store Name:</p>
      </div>
      <div class="col-6">
        <input type="text" id="edit-field" value="9876543210">
      </div>
    </div>

    <div class="row" style="padding-left: 10px;">
      <div class="col-6">
        <p class="edit-name">Store Address:</p>
      </div>
      <div class="col-6">
        <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_CEyvj2.json" background="transparent"
          speed="1.5" style="width:50%;margin-left:5px;" loop autoplay></lottie-player>
      </div>
    </div>


    <div class="row" style="padding-left: 10px;">
      <div class="col-6">
        <p class="edit-name">Contact Person Name:</p>
      </div>
      <div class="col-6">
        <input type="text" id="edit-field" value="Ravi">
      </div>
    </div>

    <div class="row" style="padding-left: 10px;">
      <div class="col-6">
        <p class="edit-name">Contact Person Number:</p>
      </div>
      <div class="col-6">
        <input type="text" id="edit-field" value="9876543210">
      </div>
    </div>

    <div class="row" style="padding-left: 10px;">
      <div class="col-6">
        <p class="edit-name">Id Proff:</p>
      </div>
      <div class="col-6">
        <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_tf6wSv.json" background="transparent"
          speed="1.5" style="width:50%;margin-left:5px;" loop autoplay></lottie-player>
      </div>
    </div>

    <div class="row" style="padding-left: 10px;">
      <div class="col-6">
        <p class="edit-name">Address Proff</p>
      </div>
      <div class="col-6">
        <input type="text" id="edit-field" value="9876543210">
      </div>
    </div>
    

</div>
</ion-content>