
<ion-content >

  <div  class="row mt-3" >
    <div class="col-4 items">
      <lottie-player  src="https://assets5.lottiefiles.com/packages/lf20_GZxjzF.json" background="transparent"
      speed="1.5" style="width:100%;margin-left:15px;" loop autoplay></lottie-player>          
    </div>
    <div  class="col-4 items " >
      <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_b0shjbsq.json" background="transparent"
      speed="1.5" style="width:100%;margin-left:35px;" loop autoplay></lottie-player>
    </div>

    <div  class="col-4 items ion-text-right">
      <p style="width:100%;margin-left:15px;" >Gallery</p>         
    </div>
    <div  class="col-4 items ion-text-right" >
      <p style="width:100%;margin-left:25px;">Upload</p>
    </div>

    <div>
      <p style="font-size: 9px;color:red; text-align:center;">Image will be uploaded after successful verification</p>
    </div>

  </div> 
</ion-content>
