/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
*{
    font-family: 'Roboto', sans-serif;   
}
#logo{
  border-radius: 5px;
  margin-top: 10px !important;
  margin-bottom: 5px !important;
  
  width:55px;
}
.title{
    margin-top:80px;
}
.welcome{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.seller{
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    font-weight: 25px;
    
}
.icon{
    margin:10px;
    background-color: #fff;
    border:1px solid #fff;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px #ebe6e6;
    border-radius: 10px;
}
// .bg-class{
//     --background: linear-gradient(to bottom, #8cdbe2
//     0%, #d1f2e7
//     100%) !important;

//   }
  // .bgcolor-class{
  //   --background: linear-gradient(to bottom, #FEC401 0%, #FEC401 100%) !important;

  // }
  .signin-div{
    background-color: #fff;
    border:1px solid #cccbc8;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px #ebe6e6;
    margin-bottom:4px ;
    
    
  }
  #card{
    background-color: #fff;
    border:1px solid #ebe6e6;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #ccc;
    width:96% !important;
    margin:5px;
  }
  .signin{
      color:#FF6000
      ;
      font-size: 12px;
      margin-top:8px !important;
      
  }
  .signup{
      margin-top:8px !important;
      color:#6E7989 ;
      text-align: right;
      font-size: 12px;
      
  }
  .signin-seller{
    margin:10px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: #272A3F;
  }
  .emailTo-continue{
      font-size:12px;
      color:#6E7989;
      margin:10px;
  }



.form-control:focus {
    box-shadow: none;
  }
  
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
  }

  .form-control::placeholder {
    font-size:12px;
    color:#6E7989;
    margin:10px;
  }
  .form-group{
      margin:10px;
  }
  .forgot-pw{
     color: #6E7989;
     font-size: 14px;
     margin:10px;
  }
  .signin-btn{
      background-color: #FF6000;
      margin-left:18px;
      border:1px solid #fff;
      
  }
  .new-background-color{
    --background: #FF6000

    !important;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 1px solid #cccbc8 ;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #5C5C5C;
  background-color: #fff;
  background-image: none;
  cursor: pointer;
  width: 70%;
  border-radius: 5px;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
  
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 90%;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
  margin-left: 0%;

}

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: transparent;
  color:#FF6000
  ;
  transition: .5s all ease;
  pointer-events: none;
  border-radius: 2px;
}
/* Transition */
.select:hover::after {
  color: #121212;
}

select:focus > option:checked { 
  cursor: pointer;
  background-color: #fff;
}

option:hover {
  cursor: pointer;
}

.item-has-focus{
  --highlight-background: #FF6000;
}
.ion-label{
  --highlight-background: #FF6000 !important;
}