<ion-content>
  <div style="margin-top: 5px;margin-bottom: 10px;" class="w3-container w3-center " >
    <div class="row" >

      <!-- <div class="col-12 ion-text-left " style="margin-top: 20px;">
        <svg (click)="backToprivious()" style="color: black;margin-top:-8px;cursor:pointer" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
      </div> -->
      <div class="col-12">
        <h5 class="name  ion-text-center" style="color:#676767;" ><b>Type Your Category Name</b></h5>
      </div>
      <div class="col-12">
       <input type="text" (keyup)="test()" [(ngModel)]="name">
       <ion-input value="custom"></ion-input>
      </div>
    </div>

    <div style="width:100%; text-align: center;">
      <button type="button" (click)="createCategory()" class="btn btn-primary  submit-btn mt-2">Submit</button>
    </div>
  </div>
</ion-content>